/* ------------------- blog left sidebar -------------------------- */
.blog .blog__left-sidebar > h3 {
  border-radius: 4px;
  padding: 16px 0px;

  color: #fff;
  background-color: var(--primary-color);

  text-align: center;
}

.blog__left-sidebar .blog-item {
  margin-bottom: 50px;
}

.blog__left-sidebar .blog-item .blog-item__img {
  position: relative;
}

.blog__left-sidebar .blog-item .blog-item__img img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.blog-item .blog-item__img .blog-item__date {
  position: absolute;
  bottom: -40px;
  left: 40px;

  display: inline-block;
  padding: 16px 16px;
  border-radius: 5px;

  color: #fff;
  background-color: var(--secondary-color);
  transition: all 0.3s linear;
}

.blog-item .blog-item__img .blog-item__date:hover {
  background-color: var(--primary-color);
}

.blog-item .blog-item__img .blog-item__date h3 {
  font-size: 2.2em;
  text-align: center;
  line-height: 1.2;
}

.blog-item .blog-item__img .blog-item__date p {
  font-size: 1.4em;
}

.blog-item .blog-item__content {
  padding: 45px 30px 35px 35px;
  box-shadow: 0px 10px 20px 0px rgb(221 221 221 / 30%);
}

.blog-item .blog-item__content .blog-item__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-item .blog-item__content .blog-item__wrap .read-more-btn {
  border: none;
  padding: 10px 14px;

  font-size: 1.4rem;

  color: #fff;
  background-color: var(--secondary-color);
}

.blog-item .blog-item__content .blog-item__wrap .read-more-btn:hover {
  opacity: 0.8;
}

.blog-item .blog-item__content .blog-item__content-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;

  height: 33px;
  margin-bottom: 15px;

  line-height: 33px;
  font-size: 2.4em;

  overflow: hidden;
}

.blog-item .blog-item__content .blog-item__content-title a {
  color: var(--text-color);
  font-weight: 500;
  transition: all 0.3s linear;
}

.blog-item .blog-item__content > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  height: 48px;
  margin-bottom: 30px;

  font-size: 1.6em;
  line-height: 24px;
  font-weight: 400;

  color: #7a838b;

  overflow: hidden;
}

.blog-item .blog-item__content .blog-item__info li {
  display: inline-block;
}

.blog-item .blog-item__content .blog-item__info li a,
.blog-item .blog-item__content .blog-item__info li span {
  display: flex;
  align-items: center;

  padding: 0px 14px;

  font-size: 1.4em;
  color: #666666;
  transition: all 0.2s linear;
}

.blog-item .blog-item__content .blog-item__info li:first-child a {
  padding-left: 0;
}

.blog-item .blog-item__content .blog-item__info li a svg,
.blog-item .blog-item__content .blog-item__info li span svg {
  margin-right: 6px;
}

.blog-item .blog-item__content .blog-item__content-title:hover a,
.blog-item .blog-item__content .blog-item__info li:hover a {
  color: var(--secondary-color);
}

.blog-item .blog-item__content .blog-item__info li:not(:last-child) {
  border-right: 1px solid #999994aa;
}

.blog-item .blog-item__content .blog-item__info li a i{
  margin-right: 5px;
}

/* ------------------- blog right sidebar -------------------------- */
.blog__right-sidebar .single-sidebar-widget {
  margin-bottom: 30px;
  padding: 30px;

  background-color: #fbf9ff;
}

.single-sidebar-widget .form-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.single-sidebar-widget .form-group input {
  width: 100%;
  height: 50px;
  border: 1px solid #f0e9ff;
  border-right: none;
  padding: 5px 0 5px 8px;

  font-size: 1.4rem;

  color: #999999;
}

.single-sidebar-widget .form-group .input-group-append button {
  height: 100%;
  border: 1px solid #f0e9ff;
  border-left: none;
  padding: 4px 15px;

  color: #999999;
  background-color: #fff;

  cursor: pointer;
}

.single-sidebar-widget .input-group-append button svg {
  font-size: 1.6rem;
  color: #999999;
}

.single-sidebar-widget .form-group input:focus {
  outline: none;
}

.single-sidebar-widget .btn-sidebar {
  width: 100%;
  padding: 14px 44px;
  border: 1px solid var(--primary-color);

  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
}

.single-sidebar-widget .btn-sidebar:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* -------------- Category list -------------- */
.single-sidebar-widget .widget-title {
  margin-bottom: 30px;

  font-size: 1.8rem;
  font-weight: 500;
}

.single-sidebar-widget .widget-title::after {
  content: "";
  display: block;
  padding-top: 15px;
  border-bottom: 1px solid #f0e9ff;
}

.cate-widget .cate-list .cate-list__item:not(:last-child) {
  border-bottom: 1px solid #f0e9ff;
  padding-bottom: 12px;
}

.cate-widget .cate-list .cate-list__item:not(:first-child) {
  padding-top: 15px;
}

.cate-widget .cate-list .cate-list__item a {
  display: flex;

  font-size: 1.4rem;
  line-height: 25px;

  color: #666;
  transition: all 0.2s linear;
}

.cate-widget .cate-list .cate-list__item a:hover {
  color: var(--secondary-color);
}

.cate-widget .cate-list .cate-list__item a p {
  margin-right: 5px;
}

/* ------------- recent post ----------------- */
.recent-post .media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-post .media:not(:last-child) {
  margin-bottom: 30px;
}

.recent-post .post-item .post-item__img {
  width: 80px;
  height: 80px;
}

.recent-post .post-item .post-item__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-item .post-item__body {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;

  padding-left: 10px;
  height: 80px;
}

.post-item .post-item__body h4 {
  margin-bottom: 6px;
}

.post-item .post-item__body h4 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 44px;
  font-size: 1.4rem;
  line-height: 22px;
  font-weight: 500;
  color: #001d38;
  overflow: hidden;
  transition: all 0.2s linear;
}

.post-item .post-item__body h4 a:hover {
  color: var(--secondary-color);
}

.post-item .post-item__body p {
  font-size: 1.2rem;
  line-height: 18px;
  text-transform: capitalize;

  color: #7a838b;
}

/* ------------------ tag --------------------- */
.tag .tag-list .tag-list_item {
  display: inline-block;
}

.tag .tag-list .tag-list_item a {
  display: inline-block;
  border: 1px solid #eeeeee;
  margin-bottom: 8px;
  margin-right: 3px;
  padding: 4px 20px;

  font-size: 1.4rem;
  text-align: center;
  text-transform: capitalize;

  color: #888;
  background-color: #fff;
  transition: all 0.3s linear;
}

.tag .tag-list .tag-list_item a:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

/* -------------- instagram ----------------- */
.instagram-feed {
  height: 100%;
}

.instagram-feed .instagram-list__item {
  width: 33.33%;
  padding-right: 8px;
  padding-left: 10px;
  margin-bottom: 15px;

  float: left;
}

.instagram-feed .instagram-list__item a {
  display: inline-block;
}

.instagram-feed .instagram-list__item a img {
  width: 100%;
  object-fit: cover;
}

.newsletter .form-group input {
  border: 1px solid #f0e9ff;
  padding-right: 8px;
}
